<% provide(:title, "Sign Up - Account") %>
<h1>Set up an Account</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @account, :url => signup_account_path do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :company_name %>
      <%= f.text_field :company_name %>

      <%= f.label :address %>
      <%= f.text_area :address, rows: 5 %>

      <%= f.label :billing_details %>
      <%= f.text_field :billing_details %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>