<p id="notice"><%= notice %></p>

<p>
  <b>Company name:</b>
  <%= @account.company_name %>
</p>

<p>
  <b>Billing details:</b>
  <%= @account.billing_details %>
</p>

<p>
  <b>Address:</b>
  <%= @account.address %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
